@font-face {
  font-family: "Gilroy-Regular";
  src: local("Gilroy-Regular"), url(fonts/Gilroy-Regular.ttf) format("truetype");
}

:root {
  --font-family: "Gilroy-Regular";
  --gray: #807D7D;
  --white: #FFF8F1;
  --black: #0D0D0D;
  --orange-red: #F05830;
  --green: #236E57;
}